<?xml version="1.0" encoding="UTF-8"?>
<!--bean命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解扫描-->
    <context:component-scan base-package="com.itheima"/>

    <!--视图解析器对象-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--开启SpringMVC框架注解的支持-->
    <mvc:annotation-driven/>
    <!--说明-->
    <!--在SpringMVC的各个组件中，处理器映射器、处理器适配器和视图解析器成为SpringMVC的三大组件。
        当使用了“<mvc:annotation-driven/>”语句时，自动加载“RequestMappingHandlerMapping(处理映射器)”和
        “RequestMappingHandlerAdapter(处理器适配器)”，可以在“SpringMVC.xml”配置文件中使用“<mvc:annotation-driven/>”
        替代注解处理器和适配器的配置。
    -->

    <!-- <mvc:default-servlet-handler/> -->

</beans>